.navbar.navbar-toggleable-md

	button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbar-toggle" aria-controls="navbar-mobile" aria-expanded="false" aria-label="Toggle navigation")
		span.navbar-toggler-icon icon

	.collapse.navbar-collapse.navbar-main#navbar-toggle

		.navbar-col-left
			a.tel(href="#") 8 (910) 425-35-35

			ul.nav-items.nav-items--left
				li.nav-items__nav-item.nav-items__nav-item--bistro
					a(href="#") Бистро
				li.nav-items__nav-item.nav-items__nav-item--delicates
					a(href="#") Деликатесы

		.navbar__logo(href="#")
			a(href="#")
				img(src="images/svg/logo.svg")
		
		.navbar-col-right

			ul.nav-items.nav-items--right
				li.nav-items__nav-item
					a(href="#") Рецепты
				li.nav-items__nav-item
					a(href="#") Концепция UK
				li.nav-items__nav-item
					a(href="#") Контакты

			ul.social
				li.social__item
					a(href="#")
						img(src="images/svg/facebook-icon.svg")
				li.social__item
					a(href="#")
						img(src="images/svg/instagram-icon.svg")


