<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>United Kitchen</title>
    <link rel="stylesheet" href="vendor/css/normalize.css" type="text/css">
    <link rel="stylesheet" href="vendor/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.theme.default.min.css">

    <link rel="stylesheet" href="css/min/main.min.css" type="text/css">
    <meta name="description">
    <meta name="application-name" content="&amp;nbsp;">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="mstile-144x144.png">
    <meta name="msapplication-square70x70logo" content="mstile-70x70.png">
    <meta name="msapplication-square150x150logo" content="mstile-150x150.png">
    <meta name="msapplication-wide310x150logo" content="mstile-310x150.png">
    <meta name="msapplication-square310x310logo" content="mstile-310x310.png">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="../images/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../images/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../images/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../images/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="../images/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="../images/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="../images/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="../images/favicons/apple-touch-icon-152x152.png">
    <link rel="icon" type="image/png" href="../images/favicons/favicon-196x196.png" sizes="196x196">
    <link rel="icon" type="image/png" href="../images/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="../images/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="../images/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="../images/favicons/favicon-128.png" sizes="128x128">
  </head>
  <body>
    <div class="app app-index">
      <div class="wrapper">
        <div class="navbar navbar-toggleable-md">

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-toggle" aria-controls="navbar-mobile" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="navbar__logo navbar__logo--mobile" href="#"><a href="#"><img src="images/svg/logo.svg"></a></div>

          <div class="collapse navbar-collapse navbar-main" id="navbar-toggle">
            <div class="navbar-col-left"><a class="tel" href="tel:+79104253535">8 (910) 425-35-35</a>
              <ul class="nav-items nav-items--left">
                <li class="nav-items__nav-item nav-items__nav-item--bistro"><a href="#">Бистро</a></li>
                <li class="nav-items__nav-item nav-items__nav-item--delicates"><a href="#">Деликатесы</a></li>
              </ul>
            </div>
            <div class="navbar__logo" href="#"><a href="#"><img src="images/svg/logo.svg"></a></div>
            <div class="navbar-col-right">
              <ul class="nav-items nav-items--right">
                <li class="nav-items__nav-item"><a href="#">Рецепты</a></li>
                <li class="nav-items__nav-item"><a href="#">Концепция UK</a></li>
                <li class="nav-items__nav-item"><a href="#">Контакты</a></li>
              </ul>
              <ul class="social">
                <li class="social__item"><a href="#"><img src="images/svg/facebook-icon.svg"></a></li>
                <li class="social__item"><a href="#"><img src="images/svg/instagram-icon.svg"></a></li>
              </ul>
            </div>
          </div>

        </div>
        <div class="container section section__index-section--main-slider">
          <h1 class="title title--index">Всё самое вкусное со всего мира:</h1>
          <div class="carousel-block">
            <ul class="carousel-block__nav"></ul>
            <div class="owl-carousel owl-theme index-carousel-1">
              <div class="item index-carousel__slider-1 index-carousel__slider-1--title-text" data-title="Камчатка.Россия" data-thumb="images/kamchatka.png" data-hash="kings-claw" data-right-image="../images/svg/helicopter.svg" data-left-image="../images/volcano.png">
                <img src="images/king-claw-1.png" srcset="images/king-claw-1.png 1x, images/king-claw-1@2x.png 2x" sizes="(min-width: 320px) 100%, 100%" alt="" />
                <div class="inner">
                  <h2>King Claw</h2>
                  <p>Омлет с крабом и трюфельным маслом</p>
                  <a href="#" class="button button__white-inverse">Подробнее</a>
                </div>
              </div>
              <div class="item index-carousel__slider-1 index-carousel__slider-1--title-image" data-title="Йокогама.Япония" data-thumb="images/japan.png" data-hash="ramen" data-right-image="../images/svg/hieroglyphs.svg" data-left-image="../images/svg/cook.svg">
                <img src="images/ramen.png" srcset="images/ramen.png 1x, images/ramen@2x.png 2x, images/ramen960.png 960w" sizes="(min-width: 320px) 100%, 100%" alt="" />
                <div class="inner">
                  <h2>Рамен</h2>
                  <p>Рамен с уткой</p>
                  <a href="#" class="button button__white-inverse">Подробнее</a>
                </div>
              </div>
              <div class="item index-carousel__slider-1 index-carousel__slider-1--title-image" data-title="Нью-Дели.Индия" data-thumb="images/india.png" data-hash="chicken-carry" data-right-image="../images/svg/woman.svg" data-left-image="../images/svg/elephant.svg">
                <img src="images/chiken-karry.png" srcset="images/chiken-karry.png 1x, images/chiken-karry@2x.png 2x" sizes="(min-width: 320px) 100%, 100%" alt="" />
                <div class="inner">
                  <h2>Чикен Карри</h2>
                  <p>Сэндвич Чикер Карри</p>
                  <a href="#" class="button button__white-inverse">Подробнее</a>
                </div>
              </div>
            </div>
            <!-- Init thumb -->
            <div class="index-carousel-thumbnail">
              <img src="images/kamchatka.png">
              <p class="thumb-title">Камчатка. <br> Россия</p>
            </div>
            <!-- End if init thumb -->
            <div class="unslider-image--right active">
              <img src="../images/svg/helicopter.svg" alt="">
            </div>
            <div class="unslider-image--left active">
              <img src="../images/volcano.png" alt="">
            </div>
          </div>
          <img class="cook-men" src="../images/cook-men.png" alt="Андрей Рывкин">
          <div class="cook-men-info">
            <p class="cook-men-info__title">Бренд-шеф</p>
            <p class="cook-men-info__name">Андрей Рывкин</p>
            <a href="#" class="button button__black-inverse cook-men-info__about">О команде</a>
          </div>
        </div>

        <div class="section section__index-section--delicates-slider">
          <img class="section__heading-img" src="../images/svg/delicates.svg" alt="">
          <p class="entry-text">Небольшой приятный текст про деликатесы в несколько строчек.</p>
          <div class="container">
            <div class="owl-carousel owl-theme carousel__col-3 index-carousel-2">

              <div class="item index-carousel-2__slide">
                <div class="inner">
                  <p class="index-carousel-2__slide--product-type">Заправки и соусы</p>
                  <p class="index-carousel-2__slide--product-name">Песто</p>
                  <p class="index-carousel-2__slide--product-vol">120g</p>
                  <div class="inner__bottom">
                    <img src="../images/product-jar.png" srcset="" alt="" class="index-carousel-2__slide--product-img" />
                    <p class="index-carousel-2__slide--product-price">280руб</p>
                    <a href="#" class="button button__white-inverse">Подробнее</a>
                  </div>
                </div>
              </div>

              <div class="item index-carousel-2__slide">
                <div class="inner">
                  <p class="index-carousel-2__slide--product-type">Майонезы</p>
                  <p class="index-carousel-2__slide--product-name">Шефский</p>
                  <p class="index-carousel-2__slide--product-vol">230g</p>
                  <div class="inner__bottom">
                    <img src="../images/product-pack.png" srcset="" alt="" class="index-carousel-2__slide--product-img" />
                    <p class="index-carousel-2__slide--product-price">160 руб</p>
                    <a href="#" class="button button__white-inverse">Подробнее</a>
                  </div>
                </div>
              </div>

              <div class="item index-carousel-2__slide">
                <div class="inner">
                  <p class="index-carousel-2__slide--product-type">Свежие бульоны</p>
                  <p class="index-carousel-2__slide--product-name">Куриный бульон</p>
                  <p class="index-carousel-2__slide--product-vol">1</p>
                  <div class="inner__bottom">
                    <img src="../images/product-bottle.png" srcset="" alt="" class="index-carousel-2__slide--product-img" />
                    <p class="index-carousel-2__slide--product-price">150 руб</p>
                    <a href="#" class="button button__white-inverse">Подробнее</a>
                  </div>
                </div>
              </div>

              <div class="item index-carousel-2__slide">
                <div class="inner">
                  <p class="index-carousel-2__slide--product-type">Свежие бульоны</p>
                  <p class="index-carousel-2__slide--product-name">Куриный бульон</p>
                  <p class="index-carousel-2__slide--product-vol">1</p>
                  <div class="inner__bottom">
                    <img src="../images/product-bottle.png" srcset="" alt="" class="index-carousel-2__slide--product-img" />
                    <p class="index-carousel-2__slide--product-price">150 руб</p>
                    <a href="#" class="button button__white-inverse">Подробнее</a>
                  </div>
                </div>
              </div>

            </div>
            <a href="#" class="button button__general button__white">Все деликатесы</a>
          </div>

        </div>
        <div class="section section__index-section--bistro-slider">
          <img class="section__heading-img" src="../images/svg/bistro.svg" alt="">
          <div class="container container--bistro">
            <div class="owl-carousel owl-theme carousel__col-3 index-carousel-3">
              <div class="item index-carousel-3__slide">
                <div class="inner">
                  <a href="#">
                    <img src="../images/bistro-prod-1.png" srcset="" alt="" class="index-carousel-3__slide--product-img" />
                  </a>
                  <p class="index-carousel-3__slide--product-type">Сэндвичи</p>
                  <a href="#">
                    <h3 class="index-carousel-3__slide--product-name">Весенний микс</h3>
                  </a>
                  <p class="index-carousel-3__slide--product-vol">120g</p>
                  <p class="index-carousel-3__slide--product-description">Щавель, крапива, черемша, шпинат, редис, ростки маш, медово-горчичный винегрет</p>
                  <p class="index-carousel-3__slide--product-price">280 руб</p>
                </div>
              </div>

              <div class="item index-carousel-3__slide">
                <div class="inner">
                  <a href="#">
                    <img src="../images/bistro-prod-3.png" srcset="" alt="" class="index-carousel-3__slide--product-img" />
                  </a>
                  <p class="index-carousel-3__slide--product-type">Сэндвичи</p>
                  <a href="#">
                    <h3 class="index-carousel-3__slide--product-name">Весенний микс</h3>
                  </a>
                  <p class="index-carousel-3__slide--product-vol">120g</p>
                  <p class="index-carousel-3__slide--product-description">Щавель, крапива, черемша, шпинат, редис, ростки маш, медово-горчичный винегрет</p>
                  <p class="index-carousel-3__slide--product-price">280 руб</p>
                </div>
              </div>

              <div class="item index-carousel-3__slide">
                <div class="inner">
                  <a href="#">
                    <img src="../images/bistro-prod-3.png" srcset="" alt="" class="index-carousel-3__slide--product-img" />
                  </a>
                  <p class="index-carousel-3__slide--product-type">Сэндвичи</p>
                  <a href="#">
                    <h3 class="index-carousel-3__slide--product-name">Весенний микс</h3>
                  </a>
                  <p class="index-carousel-3__slide--product-vol">120g</p>
                  <p class="index-carousel-3__slide--product-description">Щавель, крапива, черемша, шпинат, редис, ростки маш, медово-горчичный винегрет</p>
                  <p class="index-carousel-3__slide--product-price">280 руб</p>
                </div>
              </div>

              <div class="item index-carousel-3__slide">
                <div class="inner">
                  <a href="#">
                    <img src="../images/bistro-prod-2.png" srcset="" alt="" class="index-carousel-3__slide--product-img" />
                  </a>
                  <p class="index-carousel-3__slide--product-type">Сэндвичи</p>
                  <a href="#">
                    <h3 class="index-carousel-3__slide--product-name">Весенний микс</h3>
                  </a>
                  <p class="index-carousel-3__slide--product-vol">120g</p>
                  <p class="index-carousel-3__slide--product-description">Щавель, крапива, черемша, шпинат, редис, ростки маш, медово-горчичный винегрет</p>
                  <p class="index-carousel-3__slide--product-price">280 руб</p>
                </div>
              </div>

            </div>
          </div>
          <a href="#" class="button button__general button__black">Полное меню</a>
          <h2 class="instagram-id">@unitedkitchenmoscow</h2>
          <img src="../images/image-tape.png" alt="#" class="image-tape">
        </div>
        <div class="section section__index-section--contacts">
          <div class="container container--contacts">
            <div class="row">
              <div id="map" class="google-map"></div>
              <div class="col col-address">
                <h2 class="col-address__address-title">Усачёвский рынок</h2>
                <p class="col-address__working-time">c 9:00 до 21:00</p>
                <p class="col-address__address-street">Метро Спортивная, ул. Усачева, 26</p>
                <a class="col-address__tel" href="tel:+79104253535">8 (910) 425-35-35</a>
              </div>
              <div class="col col-address">
                <h2 class="col-address__address-title">Даниловский рынок</h2>
                <p class="col-address__working-time">c 9:00 до 21:00</p>
                <p class="col-address__address-street">Метро Тульская, ул. Мытная, 74</p>
                <a class="col-address__tel" href="tel:+79104253535">8 (910) 425-35-35</a>
              </div>
            </div>
          </div>
        </div>
        <footer>
          <div class="row">
            <div class="container container--footer">
              <div class="site-footer">
                <div class="col site-footer__footer-col">
                  <p class="copyright">&copy; 2017 <span>United Kitchen</span></p>
                </div>
                <div class="col site-footer__footer-col">
                  <ul class="social">
                    <li class="social site-footer__social__item"><a href="#"><img src="images/svg/facebook-icon.svg"></a></li>
                    <li class="social site-footer__social__item"><a href="#"><img src="images/svg/instagram-icon.svg"></a></li>
                  </ul>
                </div>
                <div class="col site-footer__footer-col">
                  <a href="#" target="_blank" class="site-footer__design">Дизайн сайта - <img src="images/pinkman.png" alt="Pinkman"></a>
                </div>
              </div>
            </div>
          </div>
        </footer>
      </div>
      <script src="/vendor/js/jquery.min.js"></script>
      <script src="/vendor/js/jquery.mask.min.js"></script>
      <script src="/vendor/js/jquery.validate.min.js"></script>
      <script src="/vendor/js/tether.min.js"></script>
      <script src="/vendor/js/bootstrap.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js"></script>
      <script src="/js/main.js"></script>
    </div>
  </body>
</html>
