@font-face {
  font-family: 'SFUIText-Regular';
  src: url("../../fonts/SFUIText-Regular.eot");
  src: url("../../fonts/SFUIText-Regular.woff2") format("woff2"), url("../../fonts/SFUIText-Regular.woff") format("woff"), url("../../fonts/SFUIText-Regular.ttf") format("truetype"), url("../../fonts/SFUIText-Regular.svg#SFUIText-Regular") format("svg"), url("../../fonts/SFUIText-Regular.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AmericanTypewriter';
  src: url("../../fonts/AmericanTypewriterRegular.eot");
  src: url("../../fonts/AmericanTypewriterRegular.woff2") format("woff2"), url("../../fonts/AmericanTypewriter.woff") format("woff"), url("../../fonts/AmericanTypewriter.ttf") format("truetype"), url("../../fonts/AmericanTypewriter.otf") format("opentype"), url("../../fonts/AmericanTypewriter.svg#AmericanTypewriter") format("svg"), url("../../fonts/AmericanTypewriterRegular.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  margin: 0;
  min-width: 320px;
  max-width: 100%;
  background: transparent;
  font-size: 14px;
  font-family: "SFUIText-Regular", sans-serif;
  color: #111111;
  overflow-x: hidden;
}

dl,
ol,
ul {
  margin-bottom: 0;
}

a {
  color: #111111;
  font-family: "SFUIText-Regular", sans-serif;
}

* {
  font-family: "SFUIText-Regular", sans-serif;
}

a:focus,
a:hover {
  color: initial;
}

.navbar {
  padding: 0 5.6vw;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

@media only screen and (max-width: 992px) {
  .navbar {
    height: 80px;
  }
}

.navbar .navbar-main {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 11.8vw;
}

.navbar .navbar-main .navbar-col-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  float: left;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.navbar .navbar-main .navbar-col-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.navbar .navbar-main .tel {
  margin-right: 3.8vw;
}

.navbar .navbar-main .nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  list-style: none;
  padding: 0;
}

.navbar .navbar-main .nav-items.nav-items--right .nav-items__nav-item {
  margin-right: 1.4vw;
}

.navbar .navbar-main .nav-items.nav-items--right .nav-items__nav-item a {
  font-size: 12px;
}

@media only screen and (max-width: 1200px) {
  .navbar .navbar-main .nav-items.nav-items--right .nav-items__nav-item:last-child {
    margin-right: 0;
  }
}

.navbar .navbar-main .nav-items .nav-items__nav-item {
  margin-right: 1.7vw;
  position: relative;
}

.navbar .navbar-main .nav-items .nav-items__nav-item.nav-items__nav-item--bistro::before {
  content: '';
  display: block;
  width: 3.5vw;
  height: 6vw;
  position: absolute;
  left: 50%;
  margin-left: -1.85vw;
  top: -3vw;
  background: url("../../images/svg/board-icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
}

.navbar .navbar-main .nav-items .nav-items__nav-item.nav-items__nav-item--delicates::before {
  content: '';
  display: block;
  width: 2.8vw;
  height: 3.9vw;
  position: absolute;
  left: 50%;
  margin-left: -1.4vw;
  top: -1.2vw;
  background: url("../../images/svg/jar-icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
}

.navbar .navbar-main .nav-items .nav-items__nav-item a {
  text-transform: uppercase;
  letter-spacing: 2px;
}

@media only screen and (max-width: 1200px) {
  .navbar .navbar-main .nav-items .nav-items__nav-item a {
    font-size: 12px;
  }
}

.navbar .navbar-main .navbar__logo {
  position: absolute;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  left: 50%;
  top: 0;
  margin-left: -11.42vw;
  width: 20.85vw;
}

.navbar .navbar-main .navbar__logo img {
  width: 100%;
}

@media only screen and (max-width: 1200px) {
  .navbar .navbar-main .navbar__logo {
    margin-left: -9vw;
    width: 18vw;
  }
}

@media only screen and (max-width: 1100px) {
  .navbar .navbar-main .navbar__logo {
    margin-left: -7vw;
  }
}

@media only screen and (max-width: 992px) {
  .navbar .navbar-main .navbar__logo {
    display: none;
  }
}

.navbar .navbar-toggler {
  cursor: pointer;
  padding: 0;
  margin-top: 25px;
}

.navbar .navbar-toggler .navbar-toggler-icon {
  background-image: url("../../images/svg/hamburger.svg");
}

.navbar .navbar__logo--mobile {
  display: none;
  width: 170px;
}

@media only screen and (max-width: 992px) {
  .navbar .navbar__logo--mobile {
    display: block;
    position: absolute;
    top: 20px;
    left: 50%;
    margin-left: -85px;
  }
}

.navbar .navbar__logo--mobile img {
  width: 100%;
}

.app .wrapper {
  padding-top: 11.8vw;
}

@media only screen and (max-width: 992px) {
  .app .wrapper {
    padding-top: 90px;
  }
}

.app .section {
  position: relative;
}

.app.app-index .row.wrapper {
  background: #fff;
}

.social {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin-left: 0.9vw;
}

.social .social__item {
  margin-right: 1.4vw;
}

.social .social__item:last-child {
  margin-right: 0;
}

@media only screen and (max-width: 1200px) {
  .social {
    display: none;
  }
}

.section__index-section--main-slider {
  padding-bottom: 9.02vw;
  width: 79.5vw;
}

@media only screen and (max-width: 992px) {
  .section__index-section--main-slider {
    padding-bottom: 25vw;
  }
}

@media only screen and (max-width: 768px) {
  .section__index-section--main-slider {
    padding-bottom: 33vw;
  }
}

@media only screen and (max-width: 576px) {
  .section__index-section--main-slider {
    width: 100vw;
    padding-bottom: 64vw;
  }
}

.section__index-section--main-slider .cook-men {
  position: absolute;
  right: 17%;
  bottom: -45px;
  z-index: 1;
  width: 20.9vw;
}

@media only screen and (max-width: 1100px) {
  .section__index-section--main-slider .cook-men {
    right: -9%;
  }
}

@media only screen and (max-width: 992px) {
  .section__index-section--main-slider .cook-men {
    right: -17%;
    width: 35vw;
    bottom: 0%;
  }
}

@media only screen and (max-width: 768px) {
  .section__index-section--main-slider .cook-men {
    right: -23%;
    width: 40vw;
  }
}

@media only screen and (max-width: 576px) {
  .section__index-section--main-slider .cook-men {
    right: -17%;
    width: 65vw;
  }
}

.section__index-section--main-slider .cook-men-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  z-index: 1;
  margin-bottom: 42px;
  margin-right: 58px;
}

.section__index-section--main-slider .cook-men-info .cook-men-info__title {
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 5px;
  text-align: center;
  color: #ff4936;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.section__index-section--main-slider .cook-men-info .cook-men-info__name {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 1.5px;
  text-align: center;
  color: #000;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.section__index-section--main-slider .cook-men-info .button__black-inverse {
  padding: 22px;
}

@media only screen and (max-width: 576px) {
  .section__index-section--main-slider .cook-men-info .button__black-inverse {
    padding: 19px;
  }
}

@media only screen and (max-width: 1100px) {
  .section__index-section--main-slider .cook-men-info {
    margin-bottom: 20px;
    margin-right: 110px;
  }
}

@media only screen and (max-width: 992px) {
  .section__index-section--main-slider .cook-men-info {
    margin-bottom: 50px;
    margin-right: -90px;
    right: 50%;
  }
}

.section__index-section--delicates-slider {
  background: url("../../images/delicates-slider-bg.png");
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 34px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-size: cover;
  z-index: 1;
}

.section__index-section--delicates-slider .section__heading-img {
  margin-bottom: 30px;
  width: 43.4vw;
}

.section__index-section--delicates-slider p {
  text-align: center;
}

.section__index-section--delicates-slider p.index-carousel-2__slide--product-type {
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 5.4px;
  text-align: center;
  color: #a0a0a0;
  text-transform: uppercase;
  margin-top: 26px;
}

.section__index-section--delicates-slider p.index-carousel-2__slide--product-name {
  font-size: 24px;
  line-height: 0.83;
  letter-spacing: 1.8px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}

.section__index-section--delicates-slider p.index-carousel-2__slide--product-vol {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.64;
  letter-spacing: 1px;
  text-align: center;
  color: #ffffff;
}

.section__index-section--delicates-slider p.index-carousel-2__slide--product-price {
  font-size: 24px;
  line-height: 1.42;
  letter-spacing: 1.8px;
  text-align: center;
  color: #e6e6e4;
  margin-bottom: 24px;
  margin-top: 24px;
  text-transform: uppercase;
}

.section__index-section--delicates-slider p.entry-text {
  display: inline-block;
  width: 400px;
  font-family: "AmericanTypewriter", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #fff;
  margin-bottom: 46px;
}

.section__index-section--delicates-slider a.button__white-inverse {
  padding: 20px 25px;
  max-width: 163px;
  margin: 0 auto;
  margin-bottom: 41px;
}

@media only screen and (max-width: 1200px) {
  .section__index-section--delicates-slider {
    background-position: center;
  }
}

.section__index-section--bistro-slider {
  background-color: #edebdd;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 12.77vw 7.7vw;
}

@media only screen and (max-width: 992px) {
  .section__index-section--bistro-slider {
    padding-bottom: 27vw;
  }
}

.section__index-section--bistro-slider .section__heading-img {
  z-index: 2;
  position: absolute;
  margin-top: -8.75vw;
  left: 50%;
  margin-left: -14vw;
  width: 28vw;
}

.section__index-section--bistro-slider:after {
  content: '';
  width: 28.2vw;
  height: 27.7vw;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../images/trava.png");
}

@media only screen and (max-width: 992px) {
  .section__index-section--bistro-slider:after {
    width: 41vw;
    height: 43vw;
  }
}

.section__index-section--bistro-slider .button.button__general,
.section__index-section--bistro-slider .button.button__black {
  margin-top: 40px;
  margin-bottom: 60px;
}

.section__index-section--bistro-slider .instagram-id {
  font-size: 3.33vw;
  line-height: 1.9;
  letter-spacing: -0.243vw;
  text-align: center;
  color: #000000;
  width: 100%;
  text-transform: uppercase;
}

.section__index-section--bistro-slider .image-tape {
  width: 100%;
  position: absolute;
  bottom: -14vw;
  left: 0;
  display: block;
}

@media only screen and (max-width: 992px) {
  .section__index-section--bistro-slider .image-tape {
    width: 150%;
  }
}

.section__index-section--contacts {
  padding-top: 17vw;
}

.section__index-section--contacts .google-map {
  margin-bottom: 50px;
  height: 466px;
  width: 100%;
}

.section__index-section--contacts .col-address {
  padding-right: 7px;
  text-align: center;
  padding: 0 10%;
  margin-bottom: 13px;
}

@media only screen and (max-width: 1100px) {
  .section__index-section--contacts .col-address {
    width: 50%;
  }
}

@media only screen and (max-width: 992px) {
  .section__index-section--contacts .col-address {
    width: 100%;
    margin-bottom: 45px;
  }
}

.section__index-section--contacts .col-address:last-child {
  border: none;
}

.section__index-section--contacts .col-address:last-child::before {
  content: '';
  height: 100%;
  width: 2px;
  background-color: #e6e6e4;
  position: absolute;
  top: 0;
  left: -1px;
}

@media only screen and (max-width: 992px) {
  .section__index-section--contacts .col-address:last-child::before {
    left: 50%;
    height: 25px;
    top: -33px;
  }
}

.section__index-section--contacts .col-address h2.col-address__address-title {
  font-size: 30px;
  line-height: 1.13;
  letter-spacing: 2.3px;
  text-align: center;
  color: #000;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.section__index-section--contacts .col-address .col-address__address-street {
  font-size: 12px;
  font-weight: 300;
  text-align: center;
  color: #000;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.section__index-section--contacts .col-address .col-address__working-time {
  display: inline-block;
  font-size: 12px;
  font-weight: 300;
  line-height: 1.17;
  text-align: center;
  color: #fff;
  padding: 8px 10px;
  background-color: #000;
  margin-bottom: 20px;
}

.section__index-section--contacts .col-address .col-address__tel {
  margin-bottom: 20px;
  font-size: 12px;
  font-weight: 300;
  line-height: 1.17;
  text-align: center;
  color: #000;
}

.title.title--index {
  height: 36px;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 1.2px;
  text-align: center;
  color: #ff4936;
  text-transform: uppercase;
}

@media only screen and (max-width: 768px) {
  .title.title--index {
    font-size: 20px;
  }
}

@media only screen and (max-width: 576px) {
  .title.title--index {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.8px;
    padding: 0 20px;
  }
}

.carousel-block {
  position: relative;
  width: 100%;
}

.carousel-block:after {
  clear: both;
  content: '.';
  visibility: hidden;
}

.carousel-block .index-carousel-thumbnail {
  width: 240px;
  height: 240px;
  background: #fff;
  position: absolute;
  top: -2%;
  padding: 20px;
  -webkit-transform: rotate(-11deg);
  transform: rotate(-11deg);
  left: -20%;
  -webkit-box-shadow: 0 8px 42px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 8px 42px 0 rgba(0, 0, 0, 0.5);
  z-index: 1;
}

@media only screen and (max-width: 992px) {
  .carousel-block .index-carousel-thumbnail {
    top: initial;
    bottom: -15%;
    left: -30%;
  }
}

@media only screen and (max-width: 768px) {
  .carousel-block .index-carousel-thumbnail {
    left: -37%;
  }
}

@media only screen and (max-width: 576px) {
  .carousel-block .index-carousel-thumbnail {
    width: 120px;
    height: 120px;
    left: -25%;
    bottom: 0;
    padding: 10px;
  }
}

.carousel-block .index-carousel-thumbnail img {
  width: 100%;
}

@media screen and (min-width: 1441px) {
  .carousel-block .index-carousel-thumbnail {
    left: -10vw;
  }
}

.carousel-block p.thumb-title {
  color: #fff;
  background-color: #000;
  position: absolute;
  top: 50%;
  right: -30%;
  font-family: "AmericanTypewriter", sans-serif;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 1.2px;
  text-align: center;
  padding: 10px 60px;
  min-width: 200px;
}

@media only screen and (max-width: 992px) {
  .carousel-block p.thumb-title {
    top: inherit;
    bottom: -7%;
    right: -25%;
  }
}

@media only screen and (max-width: 576px) {
  .carousel-block p.thumb-title {
    top: inherit;
    bottom: -31%;
    right: -32%;
    padding: 10px 30px;
    min-width: inherit;
    font-size: 12px;
  }
}

.carousel-block .carousel-block__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  list-style: none;
  margin-top: 30px;
  padding-left: 0;
}

@media only screen and (max-width: 992px) {
  .carousel-block .carousel-block__nav {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 768px) {
  .carousel-block .carousel-block__nav {
    margin-top: 32px;
  }
}

.carousel-block .carousel-block__nav li {
  margin: 0 40px;
}

.carousel-block .carousel-block__nav li a {
  font-size: 12px;
  line-height: 1;
  letter-spacing: .9px;
  text-align: center;
  color: #000;
  text-transform: uppercase;
  cursor: pointer;
}

.carousel-block .carousel-block__nav li.active a {
  color: #ff4936;
  text-decoration: underline;
}

@media only screen and (max-width: 992px) {
  .carousel-block .carousel-block__nav li {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    margin: 0 20px;
    margin-bottom: 18px;
  }
}

@media only screen and (max-width: 576px) {
  .carousel-block .carousel-block__nav li {
    margin: 0 10px;
  }
}

.carousel-block .unslider-image--right {
  position: absolute;
  top: -8%;
  right: -100%;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  min-width: 460px;
  text-align: left;
}

.carousel-block .unslider-image--right.active {
  right: -34%;
}

@media screen and (min-width: 1441px) {
  .carousel-block .unslider-image--right.active {
    right: -15vw;
  }
}

@media only screen and (max-width: 1200px) {
  .carousel-block .unslider-image--right.active {
    right: -14%;
  }
}

@media only screen and (max-width: 1200px) {
  .carousel-block .unslider-image--right {
    min-width: 220px;
    max-width: 220px;
  }

  .carousel-block .unslider-image--right img {
    width: 100%;
  }
}

@media only screen and (max-width: 992px) {
  .carousel-block .unslider-image--right {
    display: none;
  }
}

.carousel-block .unslider-image--left {
  position: absolute;
  bottom: -15%;
  left: -100%;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  min-width: 375px;
  text-align: right;
}

.carousel-block .unslider-image--left.active {
  left: -20%;
}

@media screen and (min-width: 1441px) {
  .carousel-block .unslider-image--left.active {
    bottom: -3vw;
    left: -12vw;
  }
}

@media only screen and (max-width: 1200px) {
  .carousel-block .unslider-image--left {
    min-width: 340px;
    max-width: 340px;
  }

  .carousel-block .unslider-image--left img {
    width: 100%;
  }
}

@media only screen and (max-width: 992px) {
  .carousel-block .unslider-image--left {
    display: none;
  }
}

.owl-carousel .owl-nav {
  background-color: transparent;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  margin-top: -32px;
  left: 0;
  width: 100%;
  z-index: -1;
}

@media only screen and (max-width: 992px) {
  .owl-carousel .owl-nav {
    z-index: 1;
    margin-top: -65px;
  }
}

.owl-carousel .owl-nav .owl-prev {
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
  position: absolute;
  left: -6vw;
}

.owl-carousel .owl-nav .owl-prev .prev-button {
  display: block;
  width: 72.3px;
  height: 58.7px;
  background-color: transparent;
  background: url("../../images/svg/arrow-left-black.svg");
  background-repeat: no-repeat;
  left: -10%;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.owl-carousel .owl-nav .owl-prev .prev-button::before {
  content: none;
}

.owl-carousel .owl-nav .owl-prev .prev-button:focus,
.owl-carousel .owl-nav .owl-prev .prev-button:hover {
  background: url("../../images/svg/arrow-left-red.svg");
  background-color: transparent;
}

.owl-carousel .owl-nav .owl-prev:hover,
.owl-carousel .owl-nav .owl-prev:focus {
  background-color: transparent;
  margin: 0;
  padding: 0;
}

.owl-carousel .owl-nav .owl-prev.disabled {
  background-image: url("../../images/svg/arrow-left-grey.svg");
}

.owl-carousel .owl-nav .owl-prev.disabled .prev-button {
  background-image: url("../../images/svg/arrow-left-grey.svg");
}

@media only screen and (max-width: 1100px) {
  .owl-carousel .owl-nav .owl-prev {
    left: -7vw;
  }
}

@media only screen and (max-width: 992px) {
  .owl-carousel .owl-nav .owl-prev {
    left: -6vw;
  }
}

@media only screen and (max-width: 576px) {
  .owl-carousel .owl-nav .owl-prev {
    left: -3vw;
  }
}

.owl-carousel .owl-nav .owl-next {
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
  position: absolute;
  right: -6vw;
}

.owl-carousel .owl-nav .owl-next .next-button {
  display: block;
  width: 72.3px;
  height: 58.7px;
  background-color: transparent;
  background: url("../../images/svg/arrow-right-black.svg");
  background-repeat: no-repeat;
  right: -10%;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.owl-carousel .owl-nav .owl-next .next-button::before {
  content: none;
}

.owl-carousel .owl-nav .owl-next .next-button:focus,
.owl-carousel .owl-nav .owl-next .next-button:hover {
  background: url("../../images/svg/arrow-right-red.svg");
  background-color: transparent;
}

.owl-carousel .owl-nav .owl-next:hover,
.owl-carousel .owl-nav .owl-next:focus {
  background-color: transparent;
  margin: 0;
  padding: 0;
}

.owl-carousel .owl-nav .owl-next.disabled {
  background-image: url("../../images/svg/arrow-right-grey.svg");
}

.owl-carousel .owl-nav .owl-next.disabled .next-button {
  background-image: url("../../images/svg/arrow-right-grey.svg");
}

@media only screen and (max-width: 1100px) {
  .owl-carousel .owl-nav .owl-next {
    right: -7vw;
  }
}

@media only screen and (max-width: 992px) {
  .owl-carousel .owl-nav .owl-next {
    right: -6vw;
  }
}

@media only screen and (max-width: 576px) {
  .owl-carousel .owl-nav .owl-next {
    right: -3vw;
  }
}

.owl-carousel .owl-dots {
  margin-top: 35px;
}

.owl-carousel .owl-dots .owl-dot span {
  background-color: #000;
}

.owl-carousel .owl-dots .owl-dot.active span {
  border: 1px solid #000;
  background: #fff;
}

.owl-carousel .owl-dots .owl-dot:hover span,
.owl-carousel .owl-dots .owl-dot:focus span {
  background-color: #000;
}

.index-carousel-1 {
  margin-top: 50px;
}

@media only screen and (max-width: 576px) {
  .index-carousel-1 {
    margin-top: 25px;
  }
}

.index-carousel-1 .item img {
  display: block;
  width: 100%;
  height: auto;
}

.index-carousel-1 .index-carousel__slider-1 .inner {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.index-carousel-1 .index-carousel__slider-1 .inner h2 {
  font-family: "SFUIText-Regular", sans-serif;
  font-size: 8.33vw;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: -5px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}

@media only screen and (max-width: 576px) {
  .index-carousel-1 .index-carousel__slider-1 .inner h2 {
    font-size: 14.33vw;
  }
}

.index-carousel-1 .index-carousel__slider-1 .inner p {
  font-family: "AmericanTypewriter", sans-serif;
  font-size: 18px;
  line-height: 1.44;
  text-align: center;
  color: #fff;
  margin-bottom: 35px;
}

@media only screen and (max-width: 576px) {
  .index-carousel-1 .index-carousel__slider-1 .inner p {
    font-size: 14px;
    padding: 0 20px;
  }
}

.index-carousel-1 .index-carousel__slider-1.index-carousel__slider-1--title-image .inner {
  top: 18%;
}

.index-carousel-1 .index-carousel__slider-1.index-carousel__slider-1--title-image .inner h2 {
  display: none;
}

@media only screen and (max-width: 992px) {
  .index-carousel-1 .index-carousel__slider-1.index-carousel__slider-1--title-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .index-carousel-1 .index-carousel__slider-1.index-carousel__slider-1--title-image img {
    height: 455px;
    display: block;
  }
}

.index-carousel-1 .index-carousel__slider-1.index-carousel__slider-1--title-text .inner h2 {
  margin-top: 0;
  margin-bottom: 5.5%;
}

@media only screen and (max-width: 992px) {
  .index-carousel-1 .index-carousel__slider-1.index-carousel__slider-1--title-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .index-carousel-1 .index-carousel__slider-1.index-carousel__slider-1--title-text img {
    height: 455px;
    display: block;
  }
}

.index-carousel-2 .owl-item {
  height: 560px;
}

.index-carousel-2 .owl-item .inner {
  border: solid 1px #979797;
}

.index-carousel-2 .owl-item .inner .inner__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  height: 100%;
}

.index-carousel-2 .owl-item img {
  width: auto;
  max-height: 250px;
  margin: 0 auto;
}

.index-carousel-2 .owl-nav {
  top: 40%;
}

.index-carousel-2 .owl-nav .owl-prev .prev-button {
  background: url("../../images/svg/arrow-left-white.svg");
}

@media only screen and (max-width: 1100px) {
  .index-carousel-2 .owl-nav .owl-prev {
    left: -4vw;
  }
}

.index-carousel-2 .owl-nav .owl-next .next-button {
  background: url("../../images/svg/arrow-right-white.svg");
}

@media only screen and (max-width: 1100px) {
  .index-carousel-2 .owl-nav .owl-next {
    right: -4vw;
  }
}

.index-carousel-2 .owl-dots .owl-dot span {
  background-color: #fff;
}

.index-carousel-2 .owl-dots .owl-dot.active span {
  background-color: #000;
  border: 1px solid #fff;
}

.container.container--main {
  width: 100%;
  padding: 0 4.8vw;
}

.container.container--bistro {
  width: initial;
  padding: 0 4.8vw;
  background-color: #fff;
  padding-top: 8.75vw;
  padding-bottom: 36px;
  z-index: 1;
}

.container.container--bistro:before {
  content: '';
  display: block;
  width: 16.73vw;
  height: 16.11vw;
  background: url("../../images/svg/chopsticks.svg");
  background-size: cover;
  background-repeat: no-repeat;
  left: -8vw;
  top: -8vw;
  position: absolute;
}

@media only screen and (max-width: 992px) {
  .container.container--bistro:before {
    width: 30vw;
    height: 29vw;
    left: -18vw;
  }
}

.container.container--bistro:after {
  content: '';
  display: block;
  width: 18.89vw;
  height: 21.73vw;
  background: url("../../images/svg/woman.svg");
  background-size: cover;
  background-repeat: no-repeat;
  right: -13vw;
  bottom: -7vw;
  position: absolute;
}

@media only screen and (max-width: 992px) {
  .container.container--bistro:after {
    width: 29vw;
    height: 33vw;
    right: -13vw;
    bottom: -13vw;
  }
}

@media only screen and (max-width: 768px) {
  .container.container--bistro:after {
    right: -17vw;
  }
}

.container.container--bistro .index-carousel-3 {
  position: relative;
}

.container.container--bistro .index-carousel-3 .index-carousel-3__slide--product-img {
  width: 100%;
  margin-bottom: 20px;
}

.container.container--bistro .index-carousel-3 .index-carousel-3__slide--product-type {
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 5px;
  text-align: center;
  color: #ff4936;
}

.container.container--bistro .index-carousel-3 .index-carousel-3__slide--product-name {
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 1.4px;
  text-align: center;
  color: #000;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.container.container--bistro .index-carousel-3 .index-carousel-3__slide--product-vol {
  font-size: 12px;
  font-weight: 300;
  line-height: 1.17;
  letter-spacing: 1px;
  text-align: center;
  color: #7d7d7d;
}

.container.container--bistro .index-carousel-3 .index-carousel-3__slide--product-description {
  font-family: "AmericanTypewriter", sans-serif;
  font-size: 14px;
  line-height: 1.43;
  text-align: center;
  color: #111111;
}

.container.container--bistro .index-carousel-3 .index-carousel-3__slide--product-price {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.0;
  letter-spacing: 1px;
  text-align: center;
  color: #000;
  margin-bottom: 24px;
  text-transform: uppercase;
}

.container.container--bistro .index-carousel-3 .owl-nav {
  top: 30%;
}

@media only screen and (max-width: 992px) {
  .container.container--bistro .index-carousel-3 .owl-nav {
    top: 36%;
  }
}

.container.container--bistro .index-carousel-3 .owl-nav .owl-prev {
  left: -7.5vw;
}

@media only screen and (max-width: 992px) {
  .container.container--bistro .index-carousel-3 .owl-nav .owl-prev {
    left: -10vw;
  }
}

.container.container--bistro .index-carousel-3 .owl-nav .owl-next {
  right: -7.5vw;
}

@media only screen and (max-width: 992px) {
  .container.container--bistro .index-carousel-3 .owl-nav .owl-next {
    right: -10vw;
  }
}

.container.container--contacts {
  width: 79.5vw;
}

@media only screen and (max-width: 768px) {
  .container.container--contacts {
    width: 100vw;
  }
}

.carousel__col-3 {
  max-width: 1280px;
}

@media only screen and (max-width: 576px) {
  .carousel__col-3 {
    max-width: inherit;
  }
}

.carousel__col-3 .owl-item .item {
  height: 100%;
}

.carousel__col-3 .owl-item .inner {
  margin: 0 auto;
  text-align: center;
  height: 100%;
  margin: 0 6.7%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

@media only screen and (max-width: 992px) {
  .carousel__col-3 .owl-item .inner {
    margin: 0 19%;
  }
}

@media screen and (min-width: 1441px) {
  .carousel__col-3 {
    max-width: none;
  }

  .carousel__col-3 .owl-item .inner {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
}

a.button {
  font-size: 16px;
  font-family: "SFUIText-Regular", sans-serif;
  line-height: 1.0;
  letter-spacing: 1.2px;
  text-align: center;
  color: #fff;
  padding: 18px 45px;
  border: 1px solid #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-transform: uppercase;
  display: inline-block;
}

@media only screen and (max-width: 576px) {
  a.button {
    padding: 15px 22px;
    font-size: 12px;
  }
}

a.button.button__black-inverse {
  background: transparent;
  border-color: #000;
  color: #000;
}

a.button.button__black-inverse:hover,
a.button.button__black-inverse:focus {
  color: #000;
}

a.button.button__black {
  background: #000;
}

a.button.button__black:hover,
a.button.button__black:focus {
  color: #fff;
}

a.button.button__white {
  background: #fff;
  color: #000;
}

a.button.button__white:hover,
a.button.button__white:focus {
  color: #000;
}

a.button.button__white-inverse {
  background: transparent;
}

a.button.button__white-inverse:hover,
a.button.button__white-inverse:focus {
  color: #fff;
}

a.button.button__general {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 320px;
  max-width: 320px;
  margin-top: 30px;
  margin-bottom: 54px;
}

a.button.disabled {
  opacity: 30%;
}

footer .container {
  padding: 0;
}

@media only screen and (max-width: 992px) {
  footer .container {
    margin-bottom: 20px;
  }
}

.site-footer {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

@media only screen and (max-width: 992px) {
  .site-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.site-footer .site-footer__footer-col {
  padding: 0;
}

.site-footer .site-footer__footer-col:first-child {
  text-align: left;
}

@media only screen and (max-width: 992px) {
  .site-footer .site-footer__footer-col:first-child {
    text-align: center;
  }
}

@media only screen and (max-width: 992px) {
  .site-footer .site-footer__footer-col:nth-child(2) {
    margin-bottom: 12px;
  }
}

.site-footer .site-footer__footer-col:last-child {
  text-align: right;
}

@media only screen and (max-width: 992px) {
  .site-footer .site-footer__footer-col:last-child {
    text-align: center;
  }
}

.site-footer .site-footer__footer-col .social {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-left: 0;
}

.site-footer .site-footer__footer-col .social .site-footer__social__item {
  margin-left: 0;
}

.site-footer .site-footer__footer-col .social .site-footer__social__item:first-child {
  margin-right: 20px;
}

@media only screen and (max-width: 992px) {
  .site-footer .site-footer__footer-col .social .site-footer__social__item:first-child {
    margin-right: 10px;
  }
}

@media only screen and (max-width: 992px) {
  .site-footer .site-footer__footer-col .social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.site-footer .site-footer__footer-col .copyright {
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1px;
  color: #000;
  text-transform: uppercase;
}

.site-footer .site-footer__footer-col .site-footer__design {
  text-decoration: none;
}

.site-footer .site-footer__footer-col p {
  margin-bottom: 0;
}